body{
  font-family: 'Arimo', sans-serif;
  color: #4D4D4D;
  font-size: 20px;
}

.navbar{
  background-color: #f9f9f9;
}

.navbar-brand{
  filter: grayscale(100%);
  opacity: 0.5;
}

.navbar-brand:hover{
  opacity: 1;
}

.btn{
  box-shadow: 0 2px 0 #CDD2D4;
}

.btn-default{
  background-color: #E2E4E6;
}

.btn-default:hover{
  background-color: #D6DADC;
}

.btn-success{
  box-shadow: 0 2px 0 #3F6F21;
  font-weight: bold;
}

a{
  color: #4D4D4D;
  opacity: 0.5;
  text-decoration: underline;
}

a:hover{
  opacity: 1;
  color: #4D4D4D; 
}

.bg-primary{
  background-color: #0079BF !important;
}

.bg-secondary{
  background-color: #E4F0F6 !important;
}

.bg-dark{
  background-color: #42548E !important;
}

.btn-dark{
  box-shadow: 0 1px hsla(0,0%,0%,0.1);
  background: #42548E;
  border: 0;
  border-radius: .3em;
  background: rgba(196,201,204,0.3);
}

.btn-dark:hover{
  background: rgba(196,201,204,0.4);
}

.patners img{
  height: 60px;
  width: auto;
  margin: 15px 10px;
}

.language-picker{
  margin: 0 0 1.2em;
  padding: 0;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.language-picker select{
  color: #959DA1;
  background: none;
  border: 2px solid #EDEFF0;
  position: auto;
  height: 100%;
  width: 200px;
  font-size: 16px;
  padding: .5em;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.language-picker .dropdown-icon{
  position: absolute;
  top: 50%;
  right: auto;
  background-image: url('../images/caret.svg');
  width: 20px;
  height: 20px;
  padding: 6px;
  margin: 0 0 0 -32px;
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

footer{
  font-size: 15px;
  line-height: 1.5em;
}